# <span style="color:darkblue"> QTM 151 - Assignment 8 </span>

## Try to submit as an HTML file



### Print your name below

In [2]:
# Write your answer here

print("Tashfia Noor")

Tashfia Noor

### Import the "pandas" library

In [3]:
# Write your answer here

import pandas

### You will need the material from Lecture 14 and 15 for this assignment.



### Import the dataset "imdb_top_1000.csv" and save it as "movies." <br> 
This includes data on the top 1000 movies by IMDB rating.

In [47]:
# Write your answer here

movies = pandas.read_csv("data_raw/imdb_top_1000.csv")
movies.head(5)

,Name,Released_Year,Length,Genre,IMDB_Rating,Overview,Director,Star1,Star2,Gross
0,The Shawshank Redemption,1994,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,"28,341,469"
1,The Godfather,1972,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,Marlon Brando,Al Pacino,"134,966,411"
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,"534,858,444"
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,"57,300,000"
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,Sidney Lumet,Henry Fonda,Lee J. Cobb,"4,360,000"

### (a) Groupby + Aggregate Statistics

Create a new dataset **"movies_agg"** by grouping the "movies" dataset by **"Genre"** and then computing <br>the following aggregate statistics for **"IMDB_Rating"**:

- **Mean**
- **Standard Deviation**
- **Minimum**
- **Maximum**

Add a chain to sort by the mean IMDB rating in descending order.

Display the resulting dataset **"movies_agg"**.

In [56]:
# Write your own code

movies_gb = movies.groupby('Genre')

print(movies_gb.mean(numeric_only=True).values.tolist())

movies_agg = pandas.DataFrame(
    index=movies_gb.mean(numeric_only=True).index, 
    data=[
        movies_gb.mean(numeric_only=True).values.tolist(),
        movies_gb.std(numeric_only=True).values.tolist(),
        movies_gb.min(numeric_only=True).values.tolist(),
        movies_gb.max(numeric_only=True).values.tolist()
    ], 
    columns=["mean", "std", "min", "max"]
)

movies_agg

[[8.18], [7.9], [7.909999999999999], [7.6], [8.15], [7.6], [8.200000000000001], [7.9], [7.9], [7.6], [7.9], [7.928571428571429], [7.74], [7.7], [7.800000000000001], [7.866666666666666], [7.942857142857143], [8.016666666666666], [7.766666666666667], [7.8], [8.2], [8.0], [7.88], [7.6], [7.8], [7.9399999999999995], [7.766666666666667], [8.08], [8.149999999999999], [8.2], [7.949999999999999], [8.166666666666666], [8.0], [7.866666666666667], [8.4], [8.0], [7.866666666666666], [7.8], [7.983333333333333], [7.9], [7.85], [7.733333333333333], [7.8999999999999995], [7.8], [8.1], [7.6], [8.05], [7.8999999999999995], [8.0], [8.1], [7.75], [8.166666666666666], [8.025], [8.2], [7.975], [7.785714285714286], [7.8], [7.8], [7.9], [8.3], [8.15], [8.0], [7.954545454545454], [7.8999999999999995], [8.1], [7.7], [8.0], [7.925], [7.957142857142857], [7.966666666666667], [8.1], [7.8], [7.9], [7.6], [7.949999999999999], [7.7], [8.0], [7.85], [8.0], [7.6], [8.5], [7.9], [7.8], [7.914285714285714], [7.925], [7.983333333333333], [7.875], [8.02142857142857], [7.857142857142857], [7.7], [7.822222222222221], [7.833333333333333], [7.9], [7.823076923076924], [7.8], [7.926666666666666], [8.0], [8.1], [8.1], [8.0], [7.871428571428571], [7.985714285714286], [7.875], [7.866666666666667], [8.066666666666666], [7.877419354838709], [8.133333333333333], [8.059999999999999], [7.75], [7.8], [7.8], [7.8], [7.800000000000001], [7.9], [7.75], [8.2], [8.3], [7.8], [7.9], [8.028571428571428], [7.949999999999999], [7.7], [8.157692307692308], [8.066666666666666], [8.059999999999999], [7.8], [8.0], [8.3], [8.0], [7.966666666666667], [7.82], [8.3], [7.946428571428571], [7.9], [7.9], [8.133333333333333], [7.966666666666666], [7.975294117647058], [8.233333333333334], [8.15], [7.866666666666667], [8.25], [8.1], [8.2], [8.3], [7.949999999999999], [7.75], [7.875], [8.2], [8.1], [8.0], [7.800000000000001], [8.033333333333333], [7.7], [7.8], [8.1], [7.85], [7.766666666666667], [8.0], [7.7], [7.725], [7.775], [8.033333333333333], [7.8], [7.9], [7.914285714285714], [8.4], [8.0], [7.949999999999999], [8.040000000000001], [7.922222222222222], [8.350000000000001], [7.935135135135136], [8.15], [7.85], [8.025], [7.933333333333334], [7.7], [7.8999999999999995], [7.857142857142857], [8.1], [7.9], [8.073333333333332], [7.6], [7.9799999999999995], [7.8], [7.8], [7.9], [8.1], [8.0], [8.1], [7.8], [7.9], [8.1], [7.85], [8.05], [7.800000000000001], [8.3], [7.8], [7.977777777777778], [7.8], [8.35]]

ValueError: 4 columns passed, passed data had 202 columns

### (b) Merge Data

Create a new dataset **"movies_merge"** by merging the aggregate information <br> 
from (a) into "movies".

Display the resulting dataset **"movies_merge"**.

In [5]:
# Write your own code

### (c) Rename Columns + Dictionaries

Create a new dataset **"movies_rename"** by renaming the following columns in <br>the "movies" dataset using a dictionary:

- "Name" --> **"Movie_Title"**
- "Length" --> **"Runtime"**
- "Gross" --> **"Revenue"**

Verify that this renaming worked by printing the lists of the old ("movies") and new <br>("movies_rename") column names.

In [6]:
# Write your own code

### (d) Split Data

Use ".query()" to split the "movies_rename" dataset from (c) into different parts:

- Those directed by **Steven Spielberg**, saved to a dataset titled **"movies_spielberg"**
- Those directed by **Christopher Nolan**, saved to a dataset titled **"movies_nolan"**

In [7]:
# Write your own code

### (e) Concatenate Data

Concatenate the datasets you created in (d) to a new dataset titled **"movies_concat"**.

Display the resulting dataset **"movies_concat"**.

In [8]:
# Write your own code